<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/%22%3E">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Verduleria</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="aside">
            <aside>
                <ul>
                    <li class="menu seleccionado"><a class="menu-link"><i class="fas fa-users"></i>Empleados</a></li>
                </ul>
            </aside>
        </div>
        <section th:replace="~{empleado/secciones :: agregarEmpleado}"/>
    </body>
</html>
