<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section id="cancelarAdicion"
                 class="modal fade" 
                 tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fas fa-times-circle icon-custom"></i>
                        <h3 class="modal-title">¿Desea cancelar la adición?</h3>
                    </div>
                    <div class="modal-body">
                        <p class="parrafos">Podrá agregar un nuevo empleado en cualquier momento</p>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-ace-popup" th:href="@{/empleado/empleados}">Aceptar</a>
                        <button type="button" class="btn btn-can-popup" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </section>
        <script>
            $("#cancelarAdicion").modal({
                modal: true,
                buttons: {
                    Ok: function () {
                        $(this).modal("close");
                    }
                }
            });
        </script>
        <section th:fragment="cancelarEdicion">
            <div class="modal fade" 
                 id="cancelarEdicion" tabindex="-1" role="dialog" 
                 aria-labelledby="cancelarEdicionTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fas fa-times-circle icon-custom"></i>
                            <h3 class="modal-title" id="cancelarAdicionTitle">¿Desea cancelar la edición?</h3>
                        </div>
                        <div class="modal-body">
                            <p class="parrafos">Podrá editar los empleados en cualquier momento</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-ace-popup" th:href="@{/empleado/empleados}">Aceptar</button>
                            <button type="button" class="btn btn-can-popup" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Seccion para crear el menu de lado en empleados -->
        <section th:fragment="menuLado">
            <div class="aside">
                <aside>
                    <ul>
                        <li class="menu seleccionado"><a class="menu-link"><i class="fas fa-users"></i>Empleados</a></li>
                        <li class="menu"><a class="menu-link"><i class="fas fa-shopping-cart"></i>Productos</a></li>
                        <li class="menu"><a class="menu-link"><i class="fas fa-archive"></i>Cajas</a></li>
                    </ul>
                </aside>
            </div>
        </section>

        <!-- Seccion para crear el menu de lado en empleados agregar o editar -->
        <section th:fragment="menuEdiciones">
            <div class="aside">
                <aside>
                    <ul>
                        <li class="menu seleccionado"><a class="menu-link"><i class="fas fa-users"></i>Empleados</a></li>
                    </ul>
                </aside>
            </div>
        </section>
        <!-- Muestra el inicio de la seccion de empleado con la lista de los empleados agregados -->
        <section th:fragment="inicioEmpleado" id="empleados">
            <div class="contenido">
                <div class="container">
                    <div class="row">
                        <div class="col-md-11">
                            <div th:if="${empleados != null and !empleados.empty}">
                                <div class="titulo"><h2>Lista de Empleados</h2></div>
                                <br>
                                <div class="card border border-white">
                                    <table class="table">
                                        <thead class="table-hcustom">
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Apellidos</th>
                                                <th>Contacto</th>
                                                <th>Salario</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="empleado : ${empleados}">
                                                <td>[[${empleado.nombre}]]</td>
                                                <td>[[${empleado.apellidos}]]</td>
                                                <td>[[${empleado.contacto}]]</td>
                                                <td>[[${empleado.salario}]]</td>
                                                <td class="border-start border-0">
                                                    <a th:href="@{/empleado/editar/} + ${empleado.idEmpleado}"
                                                       class="btn btn-success btn-listas-editar">
                                                        <i class="fas fa-pencil"></i></a>
                                                    <a th:href="@{/empleado/eliminar/} + ${empleado.idEmpleado}"
                                                       class="btn btn-secondary btn-listas-eliminar">
                                                        <i class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div th:if="${empleados == null or empleados.empty}">
                                <div class="titulo">
                                    <h3>¡Lo sentimos! No existen empleados que mostrar</h3>
                                </div>
                                <p>Puede agregar un nuevo empleado presionando el botón de + que se le muestra en pantalla.</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a th:href="@{/empleado/nuevo}"
                           class="btn btn-circular">
                            <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="agregarEmpleado">
            <div class="contenido">
                <div class="container">
                    <h2 class="subtitulo">Agregar empleado</h2>
                    <br>
                    <hr>
                    <form th:action="@{/empleado/guardar}"
                          method="post"
                          th:object="${empleado}"
                          class="was-validated">
                        <input type="hidden" 
                               name="idEmpleado" 
                               th:field="*{idEmpleado}"/>
                        <div>
                            <label class="label-edit">Nombre</label><br>
                            <input type="text" 
                                   name="nombre" 
                                   value="" 
                                   th:field="*{nombre}"
                                   size="30"
                                   required="true"/>
                        </div>
                        <br>
                        <div>
                            <label class="label-edit">Apellidos</label><br>
                            <input type="text" 
                                   name="apellidos" 
                                   value="" 
                                   th:field="*{apellidos}"
                                   size="40"
                                   required="true"/>
                        </div>
                        <br>
                        <div>
                            <label class="label-edit">Contacto</label><br>
                            <input type="text" 
                                   name="contacto" 
                                   value="" 
                                   th:field="*{contacto}"
                                   size="15"
                                   required="true"/>
                        </div>
                        <br>
                        <div>
                            <label class="label-edit">Salario</label><br>
                            <input type="text" 
                                   name="salario" 
                                   value="" 
                                   th:field="*{salario}"
                                   size="15"
                                   required="true"/>
                        </div>
                        <br>
                        <div class="gap-10 text-center">
                            <button class="btn btn-form btn-lg" type="submit">Agregar</button>
                            <button type="button" 
                                    id="cancelar"
                                    class="btn btn-secondary btn-cancelar btn-lg"
                                    data-bs-toggle="modal"
                                    data-bs-target="#cancelarAdicion">Cancelar</button>
                        </div>
                    </form>  
                    <hr>
                </div>
            </div>
        </section>
        <!-- Muestra el inicio de la seccion de empleado con la lista de los empleados agregados -->
        <section th:fragment="editarEmpleado">
            <section th:replace="~{empleado/secciones :: menuEdiciones}"/>
            <div class="contenido">
                <div class="container">
                    <h2 class="subtitulo">Editar empleado</h2>
                    <br>
                    <hr>
                    <form th:action="@{/empleado/guardar}"
                          method="post"
                          th:object="${empleado}"
                          class="was-validated">
                        <input type="hidden" 
                               name="idEmpleado" 
                               th:field="*{idEmpleado}"/>
                        <div>
                            <label class="label-edit">Nombre</label><br>
                            <input type="text" 
                                   name="nombre" 
                                   value="" 
                                   th:field="*{nombre}"
                                   size="30" />
                        </div>
                        <br>
                        <div>
                            <label class="label-edit">Apellidos</label><br>
                            <input type="text" 
                                   name="apellidos" 
                                   value="" 
                                   th:field="*{apellidos}"
                                   size="40" />
                        </div>
                        <br>
                        <div>
                            <label class="label-edit">Contacto</label><br>
                            <input type="text" 
                                   name="contacto" 
                                   value="" 
                                   th:field="*{contacto}"
                                   size="15" />
                        </div>
                        <br>
                        <label class="label-edit">Salario</label><br>
                        <input type="text" 
                               name="salario" 
                               value="" 
                               th:field="*{salario}"
                               size="15" />
                        <br>
                        <div class="gap-10 text-center">
                            <button class="btn btn-form btn-lg" type="submit">Finalizar edición</button>
                            <a class="btn btn-secondary btn-cancelar btn-lg" 
                               th:href="@{/empleado/empleados}">Cancelar edición</a>
                        </div>
                    </form>  
                    <hr>
                </div>
            </div>
        </section>            
    </body>
</html>
