<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Verduleria</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <link th:href="@{/css/estilos.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-lg navbar-dark navbar-custom p-0">
                <div class="container">
                    <a th:href="@{/inicio}" class="navbar-brand">[[#{inicio.nombre}]]</a>
                    <button class="navbar-toggler" 
                            data-bs-toggle="collapse"
                            data-bs-target="#menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div id="menu" class="collapse navbar-collapse">  
                    <ul class="navbar-nav">
                        <li class="nav-item px-2">
                            <a class="nav-menu-link nav-link menu-arriba" th:href="@{/inicio(lang=es)}">ES </a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-menu-link nav-link menu-arriba" th:href="@{/inicio(lang=en)}">EN</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-menu-link nav-link menu-arriba"
                               th:href="@{/inicio}">
                                <i class="fas fa-home"></i>[[#{inicio.inicio}]]</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-menu-link nav-link menu-arriba"
                               th:href="@{/}"><i class="fas fa-sign-out"></i>[[#{inicio.salir}]]</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <section th:fragment="menuInicio">
            <div class="aside">
                <aside>
                    <ul>
                        <li class="menu"><a class="menu-link" th:href="@{/empleado/empleados}"><i class="fas fa-users"></i>[[#{inicio.empleados}]]</a></li>
                        <li class="menu"><a class="menu-link" th:href="@{/producto/productos}"><i class="fas fa-shopping-cart"></i>[[#{inicio.productos}]]</a></li>
                        <li class="menu"><a class="menu-link" th:href="@{/ventas/cajas}"><i class="fas fa-archive"></i>[[#{inicio.cajas}]]</a></li>
                    </ul>
                </aside>
            </div>
        </section>
    </body>
</html>
