<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Verduleria</title>
        <meta charset="UTF-8">
        <link th:href="@{/css/estilos.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <!-- Seccion para crear el menu de lado en productos -->
        <section th:fragment="menuLado">
            <div class="aside">
                <aside>
                    <ul>
                        <li class="menu"><a class="menu-link" th:href="@{/empleado/empleados}"><i class="fas fa-users"></i>[[#{inicio.empleados}]</a></li>
                        <li class="menu seleccionado"><a class="menu-link" th:href="@{/producto/productos}"><i class="fas fa-shopping-cart"></i>[[#{inicio.productos}]</a></li>
                        <li class="menu"><a class="menu-link" th:href="@{/ventas/cajas}"><i class="fas fa-archive"></i>[[#{inicio.cajas}]</a></li>
                    </ul>
                </aside>
            </div>
        </section>

        <!-- Seccion para crear el menu de lado en productos agregar o editar -->
        <section th:fragment="menuEdiciones">
            <div class="aside">
                <aside>
                    <ul>
                        <li class="menu seleccionado"><a class="menu-link"><i class="fas fa-users"></i>[[#{inicio.productos}]</a></li>
                    </ul>
                </aside>
            </div>
        </section>

        <!-- Muestra el inicio de la seccion de productos con la lista de los productos agregados -->
        <section th:fragment="inicioProducto" id="productos">
            <div class="contenido">
                <div class="container-lg">
                    <div class="row">
                        <div class="col-lg-12">
                            <div th:if="${productos != null and !productos.empty}">
                                <div>
                                    <div class="contenedor-productos">
                                        <ul class="lista-ventanas-productos
                                            bg-body-tertiary rounded" th:each="producto : ${productos}">
                                            <li class="shadow p-3 mb-5 elementos-ventanas-productos">
                                                <div class="productos-header">
                                                    <a class="fas fa-trash btn btn-light btn-circle" th:href="@{/producto/eliminar/} + ${producto.idProducto}"></a>
                                                </div>
                                                <ul class="info-ventanas-productos" >
                                                    <li class="fs-1 fw-bold text-success">[[${producto.nombre}]]</li>
                                                    <li>Cantidad Disp: [[${producto.cantidadDisponible}]] [[${producto.unidadMedida.nombre}]]</li>
                                                    <li>Precio: ₡[[${producto.precio}]]</li>
                                                </ul>
                                                <div class="editar-btn-producto"
                                                     style="margin: 0px auto; width: 50%; text-align: center;">
                                                    <a th:href="@{/producto/editar/} + ${producto.idProducto}"
                                                       class="btn btn-success"><i class="fas fa-pencil "></i>[[#{productos.editar}]</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${productos == null or productos.empty}">
                                <div class="titulo">
                                    <h3>[[#{productos.tituloVacio}]</h3>
                                </div>
                                <p>[[#{productos.vacio}]</p>

                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a th:href="@{/producto/nuevo}"
                           class="btn btn-circular">
                            <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="agregarProducto">
            <div class="contenido">
                <div class="container">
                    <h2 class="subtitulo">[[#{productos.agregar}]</h2>
                    <br>
                    <hr>
                    <form th:action="@{/producto/guardar}"
                          method="post"
                          th:object="${producto}"
                          class="was-validated">
                        <input type="hidden" 
                               name="idProducto" 
                               th:field="*{idProducto}"/>
                        <div>
                            <label class="label-edit">[[#{productos.nombre}]</label><br>
                            <input type="text" 
                                   name="nombre" 
                                   value="" 
                                   th:field="*{nombre}"
                                   size="30"
                                   required="true"/>
                        </div>
                        <br>
                        <div>
                            <label class="label-edit">[[#{productos.cantidad}]</label><br>
                            <div class="d-flex flex-row">
                                <input type="text" 
                                       name="cantidadDisponible" 
                                       value="" 
                                       th:field="*{cantidadDisponible}"
                                       size="15"
                                       required="true"/>

                                <div class="btn-group mr-2" role="group">
                                    <input type="radio" class="btn-check" name="unidadMedida.idUnidadMedida" value="1" id="btnradio1" autocomplete="off" checked>
                                    <label class="btn btn-outline-success rounded-start " for="btnradio1">[[#{productos.cajas}]</label>

                                    <input type="radio" class="btn-check" name="unidadMedida.idUnidadMedida" value="2" id="btnradio2" autocomplete="off">
                                    <label class="btn btn-outline-success" for="btnradio2">[[#{productos.unidades}]</label>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div>
                            <label class="label-edit">[[#{productos.precio}]</label><br>
                            <input type="text" 
                                   name="precio" 
                                   value="" 
                                   th:field="*{precio}"
                                   size="15"
                                   required="true"/>
                        </div>
                        <br>
                        <div class="gap-10 text-center">
                            <button class="btn btn-form btn-lg" type="submit">[[#{productos.btnAgregar}]</button>
                            <a class="btn btn-secondary btn-cancelar btn-lg" 
                               th:href="@{/producto/productos}">[[#{productos.cancelar}]</a>
                        </div>
                    </form>  
                    <hr>
                </div>
            </div>
        </section>

        <!-- Muestra el inicio de la seccion de empleado con la lista de los empleados agregados -->
        <section th:fragment="editarProducto">
            <section th:replace="~{producto/secciones :: menuEdiciones}"/>
            <div class="contenido">
                <div class="container">
                    <h2 class="subtitulo">[[#{productos.editarTitulo}]</h2>
                    <br>
                    <hr>
                    <form th:action="@{/producto/guardar}"
                          method="post"
                          th:object="${producto}"
                          class="was-validated">
                        <input type="hidden" 
                               name="idProducto" 
                               th:field="*{idProducto}"/>
                        <div>
                            <label class="label-edit">[[#{productos.nombre}]</label><br>
                            <input type="text" 
                                   name="nombre" 
                                   value="" 
                                   th:field="*{nombre}"
                                   size="30"
                                   required="true"/>
                        </div>
                        <br>
                        <div>
                            <label class="label-edit">[[#{productos.cantidad}]</label><br>
                            <div class="d-flex flex-row">
                                <input type="text" 
                                       name="cantidadDisponible" 
                                       value="" 
                                       th:field="*{cantidadDisponible}"
                                       size="15"
                                       required="true"/>

                                <div class="btn-group mr-2" role="group">
                                    <input type="radio" class="btn-check" name="unidadMedida.idUnidadMedida" value="1" id="btnradio1" autocomplete="off" checked>
                                    <label class="btn btn-outline-success rounded-start " for="btnradio1">[[#{productos.cajas}]</label>

                                    <input type="radio" class="btn-check" name="unidadMedida.idUnidadMedida" value="2" id="btnradio2" autocomplete="off">
                                    <label class="btn btn-outline-success" for="btnradio2">[[#{productos.unidades}]</label>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div>
                            <label class="label-edit">[[#{productos.precio}]</label><br>
                            <input type="text" 
                                   name="precio" 
                                   value="" 
                                   th:field="*{precio}"
                                   size="15"
                                   required="true"/>
                        </div>
                        <br>
                        <div class="gap-10 text-center">
                            <button class="btn btn-form btn-lg" type="submit">[[#{productos.finEd}]</button>
                            <a class="btn btn-secondary btn-cancelar btn-lg" 
                               th:href="@{/producto/productos}">[[#{productos.canEd}]</a>
                        </div>
                    </form>  
                    <hr>
                </div>
            </div>
        </section>
    </body>
</html>
