@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
/*REGISTRO*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("/img/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
input[type="email"],
input[type="password"],
input[type="text"] {
    background: #f4f8f7;
    border: none;
    font-weight: 300;
    margin: 5px;
    padding: 10px;
    width: 280px;
}
.submit-btn {
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: #5E8C5D;
}
#register {
    background: #f2f2f2;
    float: right;
    height: 980px;
    width: 50%;
    text-align: center;
    top:550px;
    z-index: 1;
}
#login a,
#register a {
    text-decoration: none;
    font-size: 18px;
    color: #5E8C5D;
    margin-top: 10px;
}

#login p,
#register p {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.3px;
    padding: 0px;
}
.register-return-log {
    text-align: right;
    margin-right: 20px;
    margin-top: 30px;
    color: #1C4002;
}
#login p {
    color: white;
}
#login h2,
#register h2 {
    padding: 20% 0 25px;
    color: #5E8C5D;
    font-weight: bold;
}
#register-sign-in {
    text-align: right;
    margin-right: 20px;
}
#register form,
#login form {
    margin-top: 10px;
}
#register form *,
#login form *{
    margin-top: 10px;
}
#login {
    height: 100%;
    width: 50%;
    text-align: center;
    margin: auto;
}

.label-password {
    margin-right: 170px;
    color: #1C4002;
}

.label-user {
    margin-right: 107px;
    color: #1C4002;
}

.btn-circular {
    width: 40px;
    height: 40px;
    padding-top: 8px;
    border-radius: 60px;
    background-color: #5E8C5D;
    color: #F2F2F2;
}

.btn-circular:hover {
    background-color: #83A582;
    transition: 0.5s;
    color: #F2F2F2;
}

.btn-form {
    background-color: #5E8C5D;
    color: #F2F2F2;
    margin-right: 60px;
    margin-top: 45px;
    padding: 10px 20px;
    width: 200px;
}

.btn-form:hover {
    background-color: #83A582;
    transition: 0.5s;
    color: #F2F2F2;
    padding: 10px 20px;
    width: 200px;
}

.btn-cancelar {
    background-color: gray;
    color: #F2F2F2;
    margin-top: 45px;
    padding: 10px 20px;
    width: 200px;
}

.btn-cancelar:hover{
    background-color: #A6A6A6;
    transition: 0.5s;
    color: #F2F2F2;
    border: none;
    padding: 10px 20px;
    width: 200px;
}

.btn-can-popup{
    background-color: gray;
    color: #F2F2F2;
}

.btn-can-popup:hover{
    background-color: #A6A6A6;
    color: #F2F2F2;
    border: none;
    transition: 0.5s;
}

.btn-ace-popup {
    background-color: #5E8C5D;
    color: #F2F2F2;
}

.btn-ace-popup:hover{
    background-color: #83A582;
    transition: 0.5s;
    color: #F2F2F2;
    border: none;
}

.btn-listas-editar {
    width: 30px;
    height: 30px;
    padding: 3px 3px 3px 3px;
    border-radius: 60px;
    background-color: #83A582;
    color: #F2F2F2;
}

.btn-listas-editar:hover {
    background-color: #5E8C5D;
    transition: 0.5s;
    color: #F2F2F2;
    border: none;
}

.btn-listas-eliminar {
    width: 30px;
    height: 30px;
    padding: 3px 3px 3px 3px;
    border-radius: 60px;
    background-color: gray;
    color: #F2F2F2;
}

.btn-listas-eliminar:hover {
    background-color: #A6A6A6;
    transition: 0.5s;
    color: #F2F2F2;
    border: none;
}

.submit-btn {
    border:none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    padding: 15px 50px;
}

#login {
    text-align: center;
    height: 100%;
}

.navbar-custom {
    background-color: #5E8C5D;
    min-height: 83px;
}

.label-edit {
    color: #5E8C5D;
}

.table-hcustom{
    background-color: #83A582;
    color: #F2F2F2;
}

.table-bcustom {
    background-color: #A6A6A6;
    color: #1C4002;
}

.icon-custom {
    color: #325935;
}

.parrafos {
    color: #1C4002;
    text-align: center;
}
/* Estos estilos son para el menú situado a un lado de la página */
.aside{
    background-color: #F2F2F2;
    position: fixed;
    top: 82px;
    left: 0;
    bottom: 0;
    width: 20%;
}

.menu-link{
    padding: 8px 12px;
    border-radius: 8px;
    color: #1C4002;
    text-decoration: none;
    width: 20%;
}

.menu-link:hover{
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #83A582;
    transition: 0.5s;
    color: #f2f2f2;
    text-decoration: none;
}

.menu{
    color: #1C4002;
    padding: 8px 12px;
    justify-content: space-between;
    font-size: 20px;
    list-style: none;
}

.seleccionado{
    color: #F2F2F2;
    background-color: #83A582;
}

/* Estilos para el cuerpo de la página */
.titulo{
    color: #5E8C5D;
}

.subtitulo {
    color: #325935;
}

.contenido{
    background-color: white;
    position: fixed;
    top: 82px;
    left: 20%;
    right: 0;
    bottom: 0;
    padding-left: 30px;
    padding-top: 20px;
}

.texto-inicio {
    padding-top: 90px;
}

.table-edit {
    border-style: none;
    border: 0px;
}

.popup {
    width: 1200px;
    background: #F2F2F2;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #1C4002;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup h2{
    font-size: 30px;
    margin: 30px 0 10px;
}


/* Estos estilos son para la parte de Productos */
.contenedor-productos {
    width: 100%;
    overflow: hidden;
    background: white;
    margin: 5px auto;
    padding: 3px 0px;  
}

.lista-ventanas-productos {
    padding-right: 8px;
    margin: 6px;
}

.contenedor-productos .lista-ventanas-productos .elementos-ventanas-productos {
    list-style: none;
    float: left;
    width: 28%;
    height: 350px;
    background: whitesmoke;
    margin: 20px 3px 0px 10px;
    border-radius:  15px;
}

.contenedor-productos .lista-ventanas-productos .elementos-ventanas-productos .productos-header {
    margin-top: 5px;
}

.productos-header {
    margin-bottom: 10px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 9px 0px;
    border-radius: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 1.42857;
    margin-left: 10px;
}

.info-ventanas-productos {
    text-align: center;
}
.info-ventanas-productos li {
    list-style: none;
    margin-bottom: 20px;
}


