<!DOCTYPE html>

<html>
    <html xmlns:th="http://www.thymeleaf.org">
        <head th:replace="~{layout/plantilla :: head}">
        <title>Empleados</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:replace="~{layout/plantilla :: menuInicio}"/>
        <section class="contenido texto-inicio">
            <h2 class="titulo">[[#{inicio.titulo}]]</h2><br>
            <article>
                <p>
                    [[#{inicio.mensaje1}]]
                </p>
                <p>
                    [[#{inicio.mensaje2}]]
                </p>
            </article>
        </body>
</html>
