<!DOCTYPE html>

<html>
    <html xmlns:th="http://www.thymeleaf.org">
        <head th:replace="~{layout/plantilla :: head}">
            <title>Verdulería</title>
            <meta charset="UTF-8">
        </head>
        <header th:replace="~{layout/plantilla :: header}"/>
        <aside class="aside">
            <ul>
                <li class="menu"
                    href="/empleado/empleados">Empleados</a></li>
                <li class="menu">Productos</a></li>
                <li class="menu">Cajas</a></li>
            </ul>
        </aside>

        <section class="contenido">
            <h2 class="titulo"> ¡Bienvenido!</h2>
            <article>
                <p>
                    Agradecemos su trabajo con nuestra tienda, en la sección a su izquierda podrá encontrar distintas opciones para administrar.
                </p>
                <p>
                    Seleccione la opción que desea gestionar.
                </p>
            </article>
        </body>
</html>
