<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../Static/css/estilos.css" th:href="@{/Static/css/estilos.css}" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <div id="cover">
             <h2 class="Inicio">Inicio de Sesion </h2><br>
             <h2 class="Registro">Crear una cuenta</h2><br>
             
             
        </div>
        <div id="login">
            <h6> Nombre de Usuario</h6>
            <input type="email" placeholder="Email"><br>
            <h6> Contraseña</h6>
            <input type="password" placeholder="Password"><br>
            <input class="submit-btn" type="submit" value="Ingresar">
            <input class="register-btn" type="submit" value="Registrarse">
        </div>
        <div id="register">
           
            <h6> Nombre de Usuario</h6>
            <input type="email" placeholder="Email"><br>
            <h6> Contraseña</h6>
            <input type="password" placeholder="Password"><br>
            <input class="submit-btn" type="submit" value="Crear cuenta">
        </div>
    </body>
</html>
