<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{css/estilos.css}" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        
            <div th:if="${param.success}">Registro exitoso</div>
            <div id="register">
                <p class="register-return-log">¿Tienes una cuenta? <a th:href="@{/}">Iniciar sesión</a></p>
                <h2>Crear sesión</h2>
                <form th:action="@{/register/save}" th:object="${usuario}" method="post">
                    <p class="label-user">Nombre de usuario</p>
                    <input type="text" placeholder="Username" th:field="*{username}"><br>
                    <p th:if="${#fields.hasErrors('username')}"></p>
                    <p class="label-password">Contraseña</p>
                    <input type="password" placeholder="Contraseña" name="contraseña" th:field="*{password}"><br>
                    <p th:if="${#fields.hasErrors('password')}"></p>
                    <input class="submit-btn" type="submit" value="Crear cuenta">
                </form>
            </div>
    </body>
</html>
